<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Connect</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.svg">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <!-- Cabeçalho -->
    <div id="topo">
        <a href="http://127.0.0.1:5000/" style="text-decoration: none; color: inherit;">
            <h1 id="titulo">
                Legends Connect
                <img src="../static/img/favicon.svg" alt="Logo Legends" style="float:left;width:42px;height:42px;">
            </h1>
        </a>
        <div class="botao">
            <input type="text" id="pesquisa" placeholder="Pesquisar jogadores...">
            <button type="button" id="botao-pesquisa-inicio">Pesquisar</button>
        </div>
    </div>

    <!-- Container do meio, com as 3 div -->
    <div class="container">
        <div class="div1">
            <a href="http://127.0.0.1:5000//perfil.html?nick=IIllIIlIlIlIlI%23BR1">
                <h3>IIllIIlIlIlIlI#BR1</h3>
            </a>
            <img src="../static/img/Elos/esmeralda.png" alt="Esmeralda" width="130" height="90">
            <p>Esmeralda</p>
        </div>
        <div class="div2">
            <h3>Campeões com maiores winrates</h3>
            <table>
                <tr>
                    <th>Campeão</th>
                    <th>Porcentagem de vitória</th>
                </tr>
                <tr>
                    <td class="celula-com-imagem">
                        <span class="nome-campeao">Kog'Maw</span>
                        <img src="../static/img/Campeões/kog.png" alt="Imagem do Campeão" class="img-tabela">
                    </td>
                    <td>
                        <div class="barra-progresso">
                            <div class="barra-preenchida" style="width: 53.50%;"></div>
                            <span class="texto-progresso">53.5%</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="celula-com-imagem">
                        <span class="nome-campeao">Taric</span>
                        <img src="../static/img/Campeões/taric.png" alt="Imagem do Campeão" class="img-tabela">
                    </td>
                    <td>
                        <div class="barra-progresso">
                            <div class="barra-preenchida" style="width: 52.80%;"></div>
                            <span class="texto-progresso">52.8%</span>
                        </div>
                    </td>

                </tr>


            </table>
        </div>
        <div class="div3">
            <h3>Campeões com menores winrates</h3>
            <table>
                <tr>
                    <th>Campeão</th>
                    <th>Porcentagem de vitória</th>
                </tr>
                <tr>
                    <td class="celula-com-imagem">
                        <span class="nome-campeao">K'Sante</span>
                        <img src="../static/img/Campeões/ksante.png" alt="Imagem do Campeão" class="img-tabela">
                    </td>
                    <td>
                        <div class="barra-progresso">
                            <div class="barra-preenchida" style="width: 44.4%;"></div>
                            <span class="texto-progresso">44.4%</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="celula-com-imagem">
                        <span class="nome-campeao">Azir</span>
                        <img src="../static/img/Campeões/azir.png" alt="Imagem do Campeão" class="img-tabela">
                    </td>
                    <td>
                        <div class="barra-progresso">
                            <div class="barra-preenchida" style="width: 45.90%;"></div>
                            <span class="texto-progresso">45.9%</span>
                        </div>
                    </td>

                </tr>

            </table>
        </div>
    </div>



    <!-- Modal para criar jogador -->
    <div id="modal-criar-jogador" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Criar Novo Jogador</h2>
            <form id="form-criar-jogador">
                <label for="nick">Nick:</label>
                <input type="text" id="nick" name="nick" required><br>

                <label for="posicao">Posição:</label>
                <input type="text" id="posicao" name="posicao" required><br>

                <label for="icone">URL do Ícone:</label>
                <input type="text" id="icone" name="icone" required><br>

                <label for="capa">URL da Capa:</label>
                <input type="text" id="capa" name="capa" required><br>

                <label for="elo">Elo:</label>
                <input type="text" id="elo" name="elo" required><br>

                <label for="campeoes">Campeões Mais Jogados (separados por vírgula):</label>
                <input type="text" id="campeoes" name="campeoes" required><br>

                <div class="botao">
                    <button type="submit">Criar Jogador</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para remover jogador -->
    <div id="modal-remover-jogador" class="modal">
        <div class="modal-content">
            <span class="fechar">&times;</span>
            <h2>Remover Jogador</h2>
            <label for="nick-remover">Nick do Jogador:</label>
            <input type="text" id="nick-remover">
            <div class="botao">
            <button id="confirmar-remocao">Remover</button>
            </div>
        </div>
    </div>

<!-- Modal Atualizar Jogador -->
<div id="modal-atualizar-jogador" class="modal">
    <div class="modal-content">
        <span id="close-atualizar" class="close">&times;</span>
        <h2>Atualizar Jogador</h2>
        <form id="form-atualizar-jogador">
            <label for="nick-atualizar">Nick do Jogador:</label>
            <input type="text" id="nick-atualizar" name="nick" placeholder="Digite o nick do jogador" required>
            <label for="posicao-atualizar">Posição:</label>
            <input type="text" id="posicao-atualizar" name="posicao" required>
            <label for="icone-atualizar">Ícone:</label>
            <input type="text" id="icone-atualizar" name="icone" required>
            <label for="capa-atualizar">Capa:</label>
            <input type="text" id="capa-atualizar" name="capa" required>
            <label for="elo-atualizar">Elo:</label>
            <input type="text" id="elo-atualizar" name="elo" required>
            <label for="campeoes-atualizar">Campeões Mais Jogados (separados por vírgula):</label>
            <input type="text" id="campeoes-atualizar" name="campeoes" required>
            <div class="botao">
            <button type="submit">Atualizar</button>
            </div>
        </form>
    </div>
</div>


    <!-- Lista de jogadores disponiveis -->
    <div id="lista-jogadores">
        <div id="cima-tabela">
            <div id="filtro-elo">
                <label for="select-elo">Filtrar por Elo:</label>
                <select id="select-elo">
                    <option value="todos">Todos</option>
                    <option value="Bronze">Bronze</option>
                    <option value="Prata">Prata</option>
                    <option value="Ouro">Ouro</option>
                    <option value="Platina">Platina</option>
                    <!-- Adicione mais opções conforme necessário -->
                </select>
            </div>
            <h3>Jogadores disponíveis</h3>
            <div style="display: flex;">
                <div class="botao">
                    <button id="botao-criar-jogador">Adicionar Jogador</button>
                </div>
                <div class="botao">
                    <button id="botao-atualizar-jogador">Atualizar jogador</button>
                </div>
                <div class="botao">
                    <button id="botao-remover-jogador">Remover jogador</button>
                </div>
            </div>
        </div>
        <table id="tabela-jogadores">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Elo</th>
                    <th>Posição</th>
                    <th>Campeões mais jogados</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script src="../static/js/HomeScript.js"></script>
</body>

</html>