<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ jogador['nick'] }}</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.svg">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
    <!-- Cabeçalho -->
    <div id="topo">
        <a href="index.html" style="text-decoration: none; color: inherit;">
            <h1 id="titulo">
                Legends Connect
                <img src="../static/img/favicon.svg" alt="Logo Legends" style="float:left;width:42px;height:42px;">
            </h1>
        </a>
        <div class="botao">
            <input type="text" id="pesquisa" placeholder="Pesquisar jogadores...">
            <button type="button" id="botao-pesquisa-perfil">Pesquisar</button>
        </div>
    </div>

    <div id="div1_perfil">
        <div class="overlay">
            <h1 id="nick_perfil">
                <span id="nickPlayer"></span>
                <img id="iconePerfil" alt="Icone perfil">
            </h1>
        </div>
    </div>
    <br>

    <!-- Conteiner -->
    <div class="container_perfil">

        <!-- Lane -->
        <div class="posicao_perfil">
            <h2>Posição</h2>
            <img id="imgLane" alt="imagem da lane" style="width: 100px; height: 100px; margin-top: 30px; margin-bottom: 10px;">
            <h4 id="lane"></h4>
        </div>

        <!-- Champion -->
        <div class="campeoes_perfil">
            <h2>Campeões mais jogados</h2>
            <ul id="lista-campeoes"></ul>
        </div>

        <!-- ELo -->
        <div class="status_perfil">
            <h2>Elo</h2>
            <img id="imgElo" alt="imagem do elo" style="width: 150px; height: 150px; margin-top: 10px;">
            <h4><span id="eloPlayer"></span></h4>
        </div>
    </div>
    <script src="../static/js/PerfilScript.js"></script>
    <script>
        document.getElementById('botao-pesquisa-perfil').addEventListener('click', function () {
            const textoPesquisa = document.getElementById('pesquisa').value;
            window.location.href = 'perfil.html?nick=' + encodeURIComponent(textoPesquisa);
        });
    </script>
</body>

</html>